[RFC 8414, Section 3.1] `.well-known/oauth-authorization-server` is served at the wrong path

### I did this

I attempted to use kanidm with [soju](https://codeberg.org/emersion/soju) (the application for which RFC 8414 was originally implemented for: https://github.com/kanidm/kanidm/issues/1796#issuecomment-1890486926).

It failed to find the configuration file, getting a `HTTP 404 Not Found` response instead.

### Soju expected the following

According to [Section 3.1 of RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414#section-3.1), `.well-known/oauth-authorization-server` should always be prefixed to the URL.

So, by configuring soju to look for the configuration at:

```
https://example.org/oauth2/openid/soju
```

It tried to retrieve the configuration file at:

```
https://example.org/.well-known/oauth-authorization-server/oauth2/openid/soju
```

### Kanidm does this instead

Kanidm exposes the configuration file at:

```
https://example.org/oauth2/openid/soju/.well-known/oauth-authorization-server
```

Which is consistent with how OpenID discovery is handled, but does not fullfil the requirements of the spec.

[Section 5](https://datatracker.ietf.org/doc/html/rfc8414#section-5) seems relevant to that?

### Kanidm version details

- Output of `kanidm(d) version`: kanidm 1.9.1
- Are you running it in a container? If so, which image/tag?: latest (1.9.2)
- If not a container, how'd you install it:
- Operating System / Version (On Unix please post the output of `uname -a`): `Linux nitro 6.19.11-arch1-1 #1 SMP PREEMPT_DYNAMIC Thu, 02 Apr 2026 23:33:01 +0000 x86_64 GNU/Linux`

### Any other comments

Kanidm is awesome! 🦀

Yep, looks like Kanidm's implementation is incorrect on this one. 

> If the issuer identifier value contains a path component, any
>    terminating "/" MUST be removed before inserting "/.well-known/" and
>    the well-known URI suffix between the host component and the path
>    component.  The client would make the following request when the
>    issuer identifier is "https://example.com/issuer1" and the well-known
>    URI suffix is "oauth-authorization-server" to obtain the metadata,
>    since the issuer identifier contains a path component:
> 
>      GET /.well-known/oauth-authorization-server/issuer1 HTTP/1.1
>      Host: example.com
> 
>    **Using path components enables supporting multiple issuers per host**.
>    This is required in some multi-tenant hosting configurations.  This
>    use of ".well-known" is for supporting multiple issuers per host;
>    unlike its use in [RFC 5785](https://datatracker.ietf.org/doc/html/rfc5785) [[RFC5785](https://datatracker.ietf.org/doc/html/rfc5785)], it does not provide general
>    information about the host.


Looks like there needs to be extra routes to cover these paths (leaving the old ones for compatibility):

```
/oauth2/openid/{client_id}/.well-known/openid-configuration
/oauth2/openid/{client_id}/.well-known/webfinger
/oauth2/openid/{client_id}/.well-known/oauth-authorization-server
```

add

```
/.well-known/openid-configuration/oauth2/openid/{client_id}
/.well-known/webfinger/oauth2/openid/{client_id}
/.well-known/oauth-authorization-server/oauth2/openid/{client_id}
```

They look a bit gross but spec-compliant 😄 