OAuth2 redirect_uri is always invalid when it includes fragments

### I did this

Updated my kanidm instance to 1.4 from 1.3, and `enable-strict-redirect-url` on my netbird RS

### I expected the following

After adding the callback URL (with `kanidm system oauth2 add-redirect-url netbird 'vpn.example.com/#callback', value taken from the kanidm logs after failed attempt with strict redirect enabled), I would be able to log in as usual

### This happened instead

I got an `invalid_origin` error:
```
Nov 16 21:32:05 aer kanidmd[20870]: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 INFO     ┝━ handle_oauth2_authorise [ 1.02ms | 9.77% / 74.58% ]
Nov 16 21:32:05 aer kanidmd[20870]: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 INFO     │  ┝━ validate_client_auth_info_to_ident [ 890µs | 64.81% ]
Nov 16 21:32:05 aer kanidmd[20870]: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 INFO     │  │  ┕━ ｉ [info]: A valid limited session value exists for this token | event_tag_id: 10
Nov 16 21:32:05 aer kanidmd[20870]: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 WARN     │  ┕━ 🚧 [warn]: Invalid OAuth2 redirect_uri (must be an exact match to a redirect-url) - got https://vpn.example.com/#callback
Nov 16 21:32:05 aer kanidmd[20870]: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 ERROR    ┕━ 🚨 [error]: Unable to authorise - Error ID: 6a177cf0-dd89-41d3-bf49-cb0aa1d463c9 error: invalid_origin
```

### Kanidm version details

- Output of `kanidm(d) version`: `kanidmd 1.4.2`
- Are you running it in a container? If so, which image/tag?:
- If not a container, how'd you install it: NixOS module
- Operating System / Version (On Unix please post the output of `uname -a`):  Nixpkgs rev dc460ec76cbff0e66e269457d7b728432263166c, `Linux aer 6.6.60 #1-NixOS SMP PREEMPT_DYNAMIC Fri Nov  8 15:28:28 UTC 2024 x86_64 GNU/Linux`

### Any other comments

The upstream documentation doesn't seem to provide much information on callback URLs for the dashboard, but I suspect it might be due to the use of URL fragments (https://example.com/#url-fragment). The log states:
```
┕━ 🚧 [warn]: Invalid OAuth2 redirect_uri (must be an exact match to a redirect-url) - got https://vpn.example.com/#callback
```
While `kanidm sysetm oauth2 get netbird` states
```
oauth2_rs_origin: https://vpn.example.com/#callback
oauth2_rs_origin_landing: https://vpn.example.com/
```
...where the oauth2_rs_origin (which is the redirect-url set with `add-redirect-url`) is an exact match to what the log says it got for the redirect-url. All of my other resource servers (pgadmin, jellyfin-sso etc) are working just fine (using the same steps - enable strict checking, attempt to log in, check the callback url, and add it with `add-redirect-url`) both before and after upgrading/enabling strict url checking.

(sorry for the ping to issue number one, the `uname` output wasn't in backticks and github assumed it was an issue ref)

I'm having the same problem. Interestingly not even disabling strict redirect uri seems to fix it.

> I'm having the same problem. Interestingly not even disabling strict redirect uri seems to fix it.

Are you on 1.4.X? Disabling strict redirect worked on 1.3, so I suspect it's enforced regardless of what you set as per the release notes. 

NetBird addressed this. 

https://github.com/netbirdio/netbird/blob/ec543f89fb819b4aae28850b370f0c06f05f7f96/infrastructure_files/setup.env.example#L44

Add the two environment variables to dashboard to override the redirect urls then add the two new redirect urls to kanidm and remove the fragmented one. 

> NetBird addressed this.
> 
> https://github.com/netbirdio/netbird/blob/ec543f89fb819b4aae28850b370f0c06f05f7f96/infrastructure_files/setup.env.example#L44
> 
> Add the two environment variables to dashboard to override the redirect urls then add the two new redirect urls to kanidm and remove the fragmented one.

Many thanks, that worked perfectly. For my fellow nixers (@PatrickDaG), the nix would look like this:

```nix

> Are you on 1.4.X? Disabling strict redirect worked on 1.3, so I suspect it's enforced regardless of what you set as per the release notes.

Yep, on 1.4. I must've misread, I thought you could still disable strict-redirect, but it does sound like its just always on now.

> Many thanks, that worked perfectly. For my fellow nixers (@PatrickDaG), the nix would look like this:

Thx.

> Yep, on 1.4. I must've misread, I thought you could still disable strict-redirect, but it does sound like its just always on now.

You can issue the command to disable it, which reports success (and is indeed reflected when you `oauth2 get` the entry), but it seems to ignore the setting altogether. Perhaps worthy of another bug report.

> > NetBird addressed this.
> > [netbirdio/netbird@`ec543f8`/infrastructure_files/setup.env.example#L44](https://github.com/netbirdio/netbird/blob/ec543f89fb819b4aae28850b370f0c06f05f7f96/infrastructure_files/setup.env.example#L44)
> > Add the two environment variables to dashboard to override the redirect urls then add the two new redirect urls to kanidm and remove the fragmented one.
> 
> Many thanks, that worked perfectly. For my fellow nixers (@PatrickDaG), the nix would look like this:
> 
> ```nix
> services.netbird.server = {
>     dashboard = {
>       settings = {
>         # Fix Kanidm not supporting fragmented URIs
>         AUTH_REDIRECT_URI = "/peers";
>         AUTH_SILENT_REDIRECT_URI = "/add-peers";
>       };
>     };
>   };
> ```
> 
> This isn't mentioned anywhere in the netbird docs however, so it seems the `setup.env.example` is the best place to go for documentation.
> 
> On the Kanidm side, are fragmented URLs something that should be supported, or is it not compliant with the OIDC RFC?

I had this working a couple of weeks ago after I upgraded, but have noticed some odd things, as netbird always redirects me to /peers and when I do a refresh of the page, it fails every time. I have to go to / then /peers to get the updated peer list.

Yes this appears to be due to the use of fragments. This is a bug in NetBird. See:

https://www.rfc-editor.org/rfc/rfc6749#section-3.1.2

"""
The redirection endpoint URI MUST be an absolute URI as defined by
   [[RFC3986] Section 4.3](https://www.rfc-editor.org/rfc/rfc3986#section-4.3).  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per [Appendix B](https://www.rfc-editor.org/rfc/rfc6749#appendix-B)) query
   component ([[RFC3986] Section 3.4](https://www.rfc-editor.org/rfc/rfc3986#section-3.4)), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.
"""

We specifically strip fragements from URLs in the kanidm codebase when they are configured due to this. 

Closing as this should be raised as a flaw in NetBird. 