Host name restriction not compliant to RFC1123 (request to allow numeric initial character)

According RFC 1123 section 2.1, an internet host name may begin with a digit, but https://github.com/kanidm/kanidm/blob/be4818e1214071e93b94b6cea23500792b8dd2d4/server/lib/src/value.rs#L68 prohibits that by forcing the first character to be a letter.

This is preventing me from using domains 0.idp.example.com, 1.idp.example.com etc. for different instances.

Is there a reason for this restriction? If not, the regex in the linked file should be replaced with the following: `^[a-z0-9][a-z0-9-_\\.]{0,63}$`

Looks like we use Iname here https://github.com/kanidm/kanidm/blob/master/server/lib/src/migration_data/dl10/schema.rs#L93 which should probably be a Hostname ( https://docs.rs/url/latest/url/enum.Host.html ) instead. 


The reason for this btw, was that it's easier to be restrictive in what we accept, and then expand, than to accept *too much* and have to try to reduce later. 

Thanks for the reply. This is the error I'm getting. I thought that I had traced it back to the

Thanks for the reply, I understand that reasoning. This is the error I'm getting:

ERROR ┝━ 🚨 [error]: iname values may only contain limited characters - "0.example.com" does not pass regex pattern "^[a-z][a-z0-9-_.]{0,63}$"

I thought that I had traced it back to the correct line of code mentioned above – are you saying that I haven't?

Yes, it's why you're hitting it.

Dear @yaleman, I'm sorry for the inconvenience, but somehow I managed to click the close-button (again) and so the ticket got moved from "Backlog" into "Done" (again).

If the desired solution is not just refining the regex, but replacing Iname with https://docs.rs/url/latest/url/enum.Host.html, then I'm afraid my rust-skill is not strong enough to be of any help, even though I'd love to be of assistance. (By the way, @Firstyear , are you sure that's not too general? To me, the documentation seems to suggest that this must be a "dns domain name" and not an ip. E.g., it says that the webauthn origin config variable "match or be a descendent of the domain name" and iirc, webauthn origins must not be ip addresses.)

Or just have a secondary check that it's a `Host::Domain`? 😄 

Nah, we need a new syntax type for it. Else it's just hacks and it gets messy :( 