RFC8252 - OAuth2.0 for Native apps

**Is your feature request related to a problem? Please describe.**

Revisiting the "OAuth2 for localhost" discussion - [RFC 8252 Section 7.3](https://www.ietf.org/rfc/rfc8252.html#section-7.3) explicitly calls this out as a thing, and [Section 8.1](https://www.ietf.org/rfc/rfc8252.html#section-8.1) notes that PKCE is a reliable mitigation for "you started this flow, then something else tries to steal it".

**Describe the solution you'd like**

- allow registration/management of additional origins for OAuth2 Resource Servers
- warn/reject `localhost` origins, maybe? per [8.3](https://www.ietf.org/rfc/rfc8252.html#section-8.3)
- enforce that if an origin has a host of `localhost` or `127.*`, then PKCE *must* be enabled
  - basic RS? adding one of those URIs? reject
  - creating an RS and specifying a matching origin? nope
- [always ask for confirmation per 8.6](https://www.ietf.org/rfc/rfc8252.html#section-8.6) for `localhost/127.*` redirects

**Describe alternatives you've considered**

none

**Additional context**

This is used by [Hashicorp Vault for OIDC CLI logins](https://developer.hashicorp.com/vault/tutorials/auth-methods/oidc-auth) - `http://localhost:8250/oidc/callback` is the URL, but can be configured.

Given it's redir to localhost, this implies it also has to be a public client does it not? If that's the case, we could make it so public clients have an "allow redirects to localhost" bool where we can special case and check this. Public clients enforce PKCE is required too btw. 

Yep, I think that's the case - but we should require registration of the URL 'cause I don't want arbitrary `localhost:*` to be allowed

The problem is applications may dynamically select the localhost port - this is also what PKCE exists to protect against if the token is sent to the wrong localhost application. 

Bleeeeehhhh those applications need to get in the bin 😄 Have we seen any examples of them yet? Vault and netbird use static ports.

> Have we seen any examples of them yet? Vault and netbird use static ports.

[kubelogin](https://github.com/int128/kubelogin)'s port is *configurable* (by manually specifying the listen address) but not dynamic.

@0xC0ncord We're going to make this a bool on public clients that allows a localhost redirect as an option, port isn't going to be checked. The reason is that we enforce PKCE which protects the exchange.


@Firstyear hey sorry to bump an old issue, but i'm toying around with using kanidm for oidc, provisioning ssh certs from step-ca, and i haven't quite been able to get it working yet. it seems like you're requiring https for public clients using loopback redirects? smallstep's ca cli will not use https, and they refer to the rfc's specific language on using "http".

https://github.com/smallstep/certificates/discussions/439

not entirely sure if the redirect url is the problem here, or i just have no idea what the origin might be for clients that would use this. i figured it'd be the step-ca server's url, as clients could be anywhere...

```
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 INFO     request [ 740µs | 28.45% / 100.00% ] method: GET | uri: /ui/oauth2?xxx| version: HTTP/1.1
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 INFO     ┝━ handle_oauth2_authorise [ 529µs | 18.10% / 71.55% ]
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 INFO     │  ┝━ validate_client_auth_info_to_ident [ 395µs | 53.45% ]
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 INFO     │  │  ┕━ ｉ [info]: A valid limited session value exists for this token | event_tag_id: 10
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 WARN     │  ┕━ 🚧 [warn]: Invalid OAuth2 redirect_uri (must be https for secure origin) - got "http" | event_tag_id: 2
[2024-11-28 03:34:43] 0cf484fe-77fe-4d54-8408-78ed362a02e7 ERROR    ┕━ 🚨 [error]: Unable to authorise - Error ID: 0cf484fe-77fe-4d54-8408-78ed362a02e7 error: invalid_origin
```

What's your full redirect URL in this case so we have a test value 

https://github.com/kanidm/kanidm/blob/master/server/lib/src/idm/oauth2.rs#L1869

We already special case localhost as a secure origin. 

The "got" section shows you what kanidm was sent - stepca sent the redirect uri to be "http". Not "http://localhost". So that may be a configuration issue somewhere? 

`redirect_uri=http%3A%2F%2F127.0.0.1%3A54237` is the important part, looks like it's `http://127.0.0.1:54237` if I'm parsing it right. Maybe the port is mucking the origin check? 

when it's simply a mismatched redirect url, it does include the full redirect url in the error response... but that also seems to indicate it IS considering the port in loopback redirect urls for public clients.

here's the client info:

```
class: account
class: memberof
class: oauth2_resource_server
class: oauth2_resource_server_public
class: object
directmemberof: idm_all_accounts@idm.4519321.xyz
displayname: Step CA
es256_private_key_der: private_binary
memberof: idm_all_accounts@idm.4519321.xyz
name: step-ca
oauth2_allow_localhost_redirect: true
oauth2_rs_origin: http://127.0.0.1:54237/
oauth2_rs_origin: http://127.0.0.1/
oauth2_rs_origin: http://localhost/
oauth2_rs_origin_landing: https://ca.4519321.xyz:8443/
oauth2_rs_scope_map: ssh_users@idm.4519321.xyz: {"email", "openid", "profile"}
oauth2_rs_token_key: hidden
oauth2_strict_redirect_uri: true
spn: step-ca@idm.4519321.xyz
uuid: 6b706ece-ed2b-47e0-977e-ee74f7d03712
```

and here's the result when i let step use a random port not already explicitly defined in kanidm:

```
WARN     │  ┕━ 🚧 [warn]: Invalid OAuth2 redirect_uri (must be an exact match to a redirect-url) - got http://127.0.0.1:58892/
ERROR    ┕━ 🚨 [error]: Unable to authorise - Error ID: 4e138edf-3cc8-45e6-affd-5e6e55a31253 error: invalid_origin
```

still not sure the origin isn't (also) a problem, since these requests are opening a browser window on the user machine making the request through step, not the step CA server. hoping that's not the case, because wouldn't that require a separate oauth2 client in kanidm for every user machine?

Ok, so the problem now is that your ports don't match, which is intentional to stop service redirection. The URI currently needs to match explicitly, so `http://localhost:12345 <> http://localhost:54321`

BCP212 ([RFC8252](https://www.rfc-editor.org/info/bcp212)) 7.3 states:
> Native apps that are able to open a port on the loopback network interface without needing special permissions (typically, those on desktop operating systems) can use the loopback interface to receive the OAuth redirect.
> 
> Loopback redirect URIs use the "http" scheme and are constructed with the loopback IP literal and whatever port the client is listening on. That is, "http://127.0.0.1:{port}/{path}" for IPv4, and "http://[::1]:{port}/{path}" for IPv6.  An example redirect using the IPv4 loopback interface with a randomly assigned port: 
>
> ```text   
> http://127.0.0.1:51004/oauth2redirect/example-provider 
> ```
>
> An example redirect using the IPv6 loopback interface with a randomly assigned port:
> 
> ```
> http://[::1]:61023/oauth2redirect/example-provider
> ```
> 
> The authorization server **MUST** allow any port to be specified at the time of the request for loopback IP redirect URIs, to accommodate clients that obtain an available ephemeral port from the operating system at the time of the request.
> 
> Clients SHOULD NOT assume that the device supports a particular version of the Internet Protocol.  It is RECOMMENDED that clients attempt to bind to the loopback interface using both IPv4 and IPv6 and use whichever is available.

Then 8.3

> While redirect URIs using localhost (i.e., "http://localhost:{port}/{path}") function similarly to loopback IP redirects described in Section 7.3, the use of localhost is NOT RECOMMENDED.  Specifying a redirect URI with the loopback IP literal rather than localhost avoids inadvertently listening on network interfaces other than the loopback interface.  It is also less susceptible to client-side firewalls and misconfigured host name resolution on the user's device.

So we should change the check thusly:

- allow for `[::1]` or `127.0.0.1`
- maybe remove `localhost`?
- not restrict ports on localhost, which is currently enforced by the "this URL must match!" bit.
- match the path


the ports actually match for that request. the 54237 port in my first reply here was when i was forcing the step cli to use a static port to ensure i could pre-register it, which as you note i shouldn't need to do. so in my second reply, i let it do its default behavior of choosing a random open port.

another example if needed... i've now got no registered redirect urls in the kanidm client, localhost redirects are allowed, and i'm letting the step cli send redirect url for a random port on 127.0.0.1

```
class: account
class: memberof
class: oauth2_resource_server
class: oauth2_resource_server_public
class: object
directmemberof: idm_all_accounts@idm.4519321.xyz
displayname: Step CA
es256_private_key_der: private_binary
memberof: idm_all_accounts@idm.4519321.xyz
name: step-ca
oauth2_allow_localhost_redirect: true
oauth2_rs_origin_landing: https://ca.4519321.xyz:8443/
oauth2_rs_scope_map: ssh_users@idm.4519321.xyz: {"email", "openid", "profile"}
oauth2_rs_token_key: hidden
oauth2_strict_redirect_uri: true
spn: step-ca@idm.4519321.xyz
uuid: 6b706ece-ed2b-47e0-977e-ee74f7d03712
```

full request to note the redirect url...
```
https://idm.4519321.xyz/ui/oauth2?client_id=step-ca&code_challenge=2hRXMHAy53A_fkmPpoQkJQlRIeeZ4Y2dMTQyNGaxZLE&code_challenge_method=S256&nonce=b75f09defdabb98bbbfzc86b72a4d26024004deb3aebf3774d10aa48afda88b8&redirect_uri=http%3A%2F%2F127.0.0.1%3A63785&response_type=code&scope=openid+email&state=xwm27I9d1HbSWPdsm65JUCVZLjs8zAEV
```

and the same error:

```
WARN     │  ┕━ 🚧 [warn]: Invalid OAuth2 redirect_uri (must be an exact match to a redirect-url) - got http://127.0.0.1:63785/
ERROR    ┕━ 🚨 [error]: Unable to authorise - Error ID: e5240d48-9ec5-4409-9789-61b5d8ff9fcd error: invalid_origin
```

Yep, that's being cleaned up in #3252 

testing out 1.4.4 - looks like we're almost there, but in my testing, the authorization flow is blocked by the web ui's form-action CSP blocking the redirect to the insecure loopback address.

https://github.com/kanidm/kanidm/blob/master/server/core/src/https/mod.rs#L193

Looks like here is where the change needs to be made, I'm not exactly a CSP wizard though. What's the rule we need here? 

i suspect it wouldn't be the best idea for the form-action policy to allow http://127.0.01 and http://[::1] all the time.

also noting here, there's some wonderful browser inconsistency here. chromium-based and safari browsers block the redirect, firefox does not. the former seemingly believing the server response still an attack vendor, the later believing they're already trusting the server.

It seems like the actual design of the CSP header in this case is debated as you point out.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/form-action

The header appears to be about controlling *where* you can submit forms to, but chrome has implemented this to also have it affect the redirect *after* the form was submitted.

I think we don't have much choice here but to allow localhost in the form-action policy. 

The question then is working out where the relevant csp is sent to the browser, so we can at least try to contain this just to oauth2

What's odd is that this works for "not localhost" urls, but as soon as it's "localhost" chrome blocks it? Shouldn't this be affecting every oauth2 workflow? 

it’s not that it’s localhost, it’s that it’s not https. probably doesn’t come up in other contexts cuz it’s easier and more reasonable to secure a real web service endpoint. 

Ahhhhhh that might be it yes. @yaleman Might have some more thoughts though. 

I'll have to work out some user stories and flows and test harnesses for it so we can validate things. It'll be browser based (maybe with automation) because... it needs to rely on real activity. 

since we already have oauth2_allow_localhost_redirect on the app config, would it be simpler to base the form-action rule on that? i'd sooner trust the admin's configuration than a browser's UA string, for example.

i guess it might come down to where you fall on the same argument browsers are having to limit it further.

@yaleman I think this is resolved now? 

Pretty sure it is