OAuth2: Invalid `token_type` for token introspection

### I did this

I used the OAuth2 introspection endopoint `/oauth2/introspect` to find the token type of an access token.

### I expected the following

The `token_type` to be one of the [IANA registered access token types](https://www.iana.org/assignments/oauth-parameters/oauth-parameters.xhtml#token-types).

### This happened instead

The response `token_type` was the invalid value `access_token`.

### Kanidm version details

- Output of `kanidm(d) version`: `kanidmd 1.3.3`
- Are you running it in a container? If so, which image/tag?: No
- If not a container, how'd you install it: as a system service, self-packaged.
- Operating System / Version (On Unix please post the output of `uname -a`): `Linux localhost 6.7.10 #1 SMP PREEMPT_DYNAMIC 1 x86_64 GNU/Linux`

### Any other comments

This is based off of:
- my interpretation of [RFC 7662, section 2.2](https://datatracker.ietf.org/doc/html/rfc7662#section-2.2)
- the `OAUTHBEARER` module of Dovecot only accepting `bearer` for `token_type`

The standard is not clear about what the allowed values are. The example they gave also did not specify a value.

I can see how I got this wrong in the first place, you have to follow that rfc like 3 or 4 levels of links down to get to https://datatracker.ietf.org/doc/html/rfc6749#section-7.1 and even then it still doesn't even mention IANA token types. 