TOTP one-time validity

**Is your feature request related to a problem? Please describe.**

Hello,

Concerning authentication with TOTP + password

Once the user enters the correct TOTP 
Should the TOTP code be invalidated immediately ? 

After a quick test on two different browsers, I can enter the same TOTP during the validity window.

I know you encourage WebAuthn/passkeys but is it something you find valuable/relevant to consider ?

**Describe the solution you'd like**
Once the TOTP has been used, it should be invalidate immediately

**Describe alternatives you've considered**

Apply other best security pratices ?

**Additional context**
This is naive protection against basic phishing and keylogger attacks. Highly secure systems would have to implement other security mechanisms, but this would add an extra layer of security.
I'm not a web security expert, and perhaps I should leave such questions to the right people ^^'

It is valid for a TOTP to be used multiple times within it's validity window. For us the validity window of any TOTP is 30 seconds. There is *no way* to invalidate this after use because the client's TOTP application will continue to display the same code for a number of seconds after if they need to re-use the TOTP. This would frustrate users why sometimes TOTP works and sometimes it's invalidated. Additionally this is harder with replication where replication of a TOTP invalidation would likely only occur *after* the TOTP window has passed, meaning that between different replicas you can reuse that TOTP anyway even if we could invalidate them.

But also, the point is that you only have a short window to use that TOTP. Even if you were to disclose a TOTP like "351229" then 30 seconds later it is useless. This limits attackers to online and real-time phishing attacks in order to rapidly capture an use that TOTP.

Additionally, TOTP in Kanidm have bruteforce prevention, with a TOTP within a 30 second period only allowing three attempts before softlocking the credential for 1 minute, and then unlocking. This prevents attackers attempting to bruteforce any TOTP. 

Remember also the point of a TOTP is protect attempts against the *password*. Since attackers commonly can get access to plaintext passwords (either by phishing, password use, database breaches etc) then even if the attacker has the PW, they don't have the TOTP. This raises the bar to an attack becoming realtime phishing, or access to the TOTP source/seed itself. In fact, by Kanidm having the TOTP first (unlike most services that put the password first) we prevent ourselves becoming a password oracle. It also stops bruteforce attacks and denial of service via softlocking. 

And of course, webauthn is more secure again, with hw bound cryptographic authenticators. In the future when we add security policy we will have rules to enforce accounts can only use attested passkeys for example. 

So I don't consider this a security issue, since Kanidm here actually goes above and beyond to secure TOTP+Password usage in a way that most other providers, do not. 


As discussed elsewhere, as this is part of the TOTP RFC ([RFC6238 Section 5.2](https://www.rfc-editor.org/rfc/rfc6238#section-5.2)), it's something we could/should implement, but due to some mitigating protections being in place (and much better auth methods being available) it won't be prioritised.

Happy to accept PRs 😄 

Thanks for your thoughts and responses @Firstyear  @yaleman .

I agree, kanidm seems to provide a sane and secure design for authentication, by default. That's one of the reasons I found this project so interesting !
I don't see it as a security issue either, at least not a major one and the possible attack vector is much smaller than on other solutions.

Would love to participate ! 
I'll need some time to familiarize myself with the code base.
Not to mention my level in Rust, rusty I'd say at the moment.

I'll take the time and come back for sure :)

In the meantime, many thanks to you and all the members of this project! 

Thank you for your responsiveness and your help. It allows me to get into a subject I'm not very familiar with, and I found the installation and use of this tool relatively easy. 
It's already enabled me to easily integrate several applications with openid 

You rock !

> As discussed elsewhere, as this is part of the TOTP RFC ([RFC6238 Section 5.2](https://www.rfc-editor.org/rfc/rfc6238#section-5.2)), it's something we could/should implement, but due to some mitigating protections being in place (and much better auth methods being available) it won't be prioritised.
> 
> Happy to accept PRs 😄

Thinking about this more, the TOTP invalidation makes sense when you do password first then TOTP. This is because lots of IDP's do:

```
password: success
totp: wrong
totp: wrong
totp: success -> login
```

What I'm saying is you get multiple attempts at the totp to get it right *then* you login. Where as in Kani we do:

```
totp: success
password: wrong -> go back to totp
totp: success
password: success -> login
```

So here we need the totp entered twice potentially in a short span. So I think if we were to do invalidations, we also need to improve the core of the auth handlers to allow multiple attempts against the second step (password here). That way the user isn't penalised because were we do to invalidations, we'd need the user to wait up to 30 seconds to try again. 

So I actually think it may not be so easy to add invalidations here with this.



> Thanks for your thoughts and responses @Firstyear @yaleman .
> 
> I agree, kanidm seems to provide a sane and secure design for authentication, by default. That's one of the reasons I found this project so interesting ! I don't see it as a security issue either, at least not a major one and the possible attack vector is much smaller than on other solutions.
> 
> Would love to participate ! I'll need some time to familiarize myself with the code base. Not to mention my level in Rust, rusty I'd say at the moment.

If you do make a submission, feel free to draft small pr's early and often and we can help with code review. We are just as helpful and kind in code reviews :) 

> 
> I'll take the time and come back for sure :)
> 
> In the meantime, many thanks to you and all the members of this project!
> 
> Thank you for your responsiveness and your help. It allows me to get into a subject I'm not very familiar with, and I found the installation and use of this tool relatively easy. It's already enabled me to easily integrate several applications with openid
> 
> You rock !

Thanks so much for the kind words ❤️

> As discussed elsewhere, as this is part of the TOTP RFC ([RFC6238 Section 5.2](https://www.rfc-editor.org/rfc/rfc6238#section-5.2)), it's something we could/should implement, but due to some mitigating protections being in place (and much better auth methods being available) it won't be prioritised.
> 
> Happy to accept PRs 😄

I think it's actually not possible. With replication we have two nodes that both can accept a TOTP. There is no way we can guarantee that the invalidation will be sent in time from node A -> B, meaning that there is no way we can strictly provide this. Since it can't ever be strict, then we should and have to accept TOTP's can be re-used within their validity window. Were we to offer invalidation of a TOTP it may lead to people believing that these are invalidated across all nodes in a topology, when that's not the case, it would only invalidate on a single node on the topology, with best effort replication of the invalidations. 

As a result, I think we can not achieve this, so we should close the issue. 